@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    font-family: 'Inter', sans-serif;
    justify-content: center;
    align-items: center;
}

body {
    justify-content: center;
    align-items: center;
}

ul {
    list-style-type: none;
}